function CalcScreen.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function CalcScreen.drawTable 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 71
push constant 511
push constant 71
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 107
push constant 511
push constant 107
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 143
push constant 511
push constant 143
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 179
push constant 511
push constant 179
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 215
push constant 511
push constant 215
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 255
push constant 511
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 0
push constant 0
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 127
push constant 71
push constant 127
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 255
push constant 71
push constant 255
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 383
push constant 71
push constant 383
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 511
push constant 0
push constant 511
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
function CalcScreen.drawNumbers 0
push argument 0
pop pointer 0
push constant 54
push constant 226
push constant 74
push constant 229
call Screen.drawRectangle 4
pop temp 0
push constant 71
push constant 229
push constant 74
push constant 245
call Screen.drawRectangle 4
pop temp 0
push constant 54
push constant 229
push constant 57
push constant 245
call Screen.drawRectangle 4
pop temp 0
push constant 57
push constant 242
push constant 71
push constant 245
call Screen.drawRectangle 4
pop temp 0
push constant 63
push constant 118
push constant 65
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 118
push constant 202
push constant 121
call Screen.drawRectangle 4
pop temp 0
push constant 199
push constant 121
push constant 202
push constant 123
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 123
push constant 202
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 126
push constant 185
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 128
push constant 202
push constant 131
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 118
push constant 327
push constant 121
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 123
push constant 327
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 128
push constant 327
push constant 131
call Screen.drawRectangle 4
pop temp 0
push constant 327
push constant 118
push constant 330
push constant 131
call Screen.drawRectangle 4
pop temp 0
push constant 54
push constant 154
push constant 57
push constant 161
call Screen.drawRectangle 4
pop temp 0
push constant 71
push constant 154
push constant 74
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 54
push constant 161
push constant 74
push constant 163
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 154
push constant 202
push constant 157
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 157
push constant 185
push constant 161
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 161
push constant 202
push constant 163
call Screen.drawRectangle 4
pop temp 0
push constant 199
push constant 163
push constant 202
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 167
push constant 202
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 313
push constant 154
push constant 330
push constant 157
call Screen.drawRectangle 4
pop temp 0
push constant 313
push constant 160
push constant 330
push constant 163
call Screen.drawRectangle 4
pop temp 0
push constant 327
push constant 163
push constant 330
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 313
push constant 166
push constant 330
push constant 169
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 154
push constant 313
push constant 169
call Screen.drawRectangle 4
pop temp 0
push constant 54
push constant 190
push constant 74
push constant 193
call Screen.drawRectangle 4
pop temp 0
push constant 71
push constant 193
push constant 74
push constant 206
call Screen.drawRectangle 4
pop temp 0
push constant 182
push constant 190
push constant 185
push constant 206
call Screen.drawRectangle 4
pop temp 0
push constant 185
push constant 190
push constant 199
push constant 193
call Screen.drawRectangle 4
pop temp 0
push constant 185
push constant 197
push constant 199
push constant 199
call Screen.drawRectangle 4
pop temp 0
push constant 185
push constant 203
push constant 199
push constant 206
call Screen.drawRectangle 4
pop temp 0
push constant 199
push constant 190
push constant 202
push constant 206
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 190
push constant 327
push constant 193
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 196
push constant 327
push constant 199
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 202
push constant 327
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 193
push constant 313
push constant 196
call Screen.drawRectangle 4
pop temp 0
push constant 327
push constant 190
push constant 330
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function CalcScreen.drawOpertor 1
push argument 0
pop pointer 0
push constant 310
push constant 231
push constant 330
push constant 234
call Screen.drawRectangle 4
pop temp 0
push constant 310
push constant 238
push constant 330
push constant 241
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 160
push constant 458
push constant 163
call Screen.drawRectangle 4
pop temp 0
push constant 446
push constant 190
push constant 450
push constant 196
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 196
push constant 458
push constant 199
call Screen.drawRectangle 4
pop temp 0
push constant 446
push constant 199
push constant 450
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 446
push constant 226
push constant 450
push constant 231
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 233
push constant 458
push constant 236
call Screen.drawRectangle 4
pop temp 0
push constant 446
push constant 238
push constant 450
push constant 243
call Screen.drawRectangle 4
pop temp 0
push constant 190
push constant 232
push constant 194
push constant 236
call Screen.drawRectangle 4
pop temp 0
push constant 436
push constant 118
push constant 456
push constant 134
call Screen.drawLine 4
pop temp 0
push constant 437
push constant 118
push constant 457
push constant 134
call Screen.drawLine 4
pop temp 0
push constant 438
push constant 118
push constant 458
push constant 134
call Screen.drawLine 4
pop temp 0
push constant 439
push constant 118
push constant 459
push constant 134
call Screen.drawLine 4
pop temp 0
push constant 440
push constant 118
push constant 460
push constant 134
call Screen.drawLine 4
pop temp 0
push constant 436
push constant 134
push constant 456
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 437
push constant 134
push constant 457
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 438
push constant 134
push constant 458
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 439
push constant 134
push constant 459
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 440
push constant 134
push constant 460
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 80
pop local 0
label WHILE_EXP0
push local 0
push constant 103
lt
not
if-goto WHILE_END0
push constant 46
push constant 91
push constant 70
push local 0
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 80
pop local 0
label WHILE_EXP1
push local 0
push constant 103
lt
not
if-goto WHILE_END1
push constant 182
push local 0
push constant 205
push constant 91
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 437
push constant 83
push constant 446
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 450
push constant 83
push constant 460
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 440
push constant 86
push constant 443
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 93
push constant 443
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 453
push constant 86
push constant 460
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 302
push constant 83
push constant 311
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 315
push constant 83
push constant 324
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 328
push constant 83
push constant 337
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 305
push constant 86
push constant 309
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 318
push constant 86
push constant 324
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 318
push constant 93
push constant 324
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 330
push constant 83
push constant 337
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
